
#about {
  height: 100vh;
  padding-top: 150px;
  color: white;
}

.self-info-box {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}.self-info-box h2 {
  margin: 20px auto 0;
  font-size: 2.2rem;
  transition: .3s;
}.self-info-box p {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.2rem;
  margin-bottom: 0
}.self-info-box code {
  font-size: 1.2rem;
  color: #96FFFF;
}

/* about me links [ Github, Resume ]*/
.info-link-box {
  padding-top: 40px;
}.info-link-box a {
  display: inline-block;
  padding: 20px 22px;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  transform: translateY(-25%);
  background-color: #1005268e;
  transition: .5s;
}.info-link-box a:hover {
  background-color: #100526c4;
  border-color: slategrey;
}.info-link-box a > img {
  width: 64px;
}

