/*  Custom ScrollBar  */
 ::-webkit-scrollbar {
	width: 12px;
}::-webkit-scrollbar-track {
	display: none;
}::-webkit-scrollbar-thumb {
	background-color: #000000;	
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(#282f40, #3a455e);
  text-align: center;
}

.section-header {
  font-size: 6rem;
  color: #fff;
}.separator-bar {
  margin: 20px auto 50px;
  width: 200px;
  height: 5px;
  border-radius: 2px;
  background-color: #96FFFF;
}

.page-loader {
  z-index: 999;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  animation: load-in .5s ease .5s forwards; 
}@keyframes load-in {
  0% { height: 100%; }
  100% { height: 0%; }
}

/* Navbar ------------------------------------------------- */
.navbar {
  z-index: 99;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  padding: 40px 40px 0;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: #fff;
  letter-spacing: 0.1em;
  transition: 0.3s;
  font-size: 1.6rem;
}.navbar a:hover {
  color: #aaa;
}
.right-nav a {
  padding-left: 40px;
}

/*  Jump to Top Button  */
.top-link {
  transition: background-color .2s ease, margin .5s ease;
  box-shadow: 0 3px 5px #000000;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 -6em 3em 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #F8F8F8;
  z-index: 9999;
}.off-screen {
  margin: 0 3em 3em 0;
}.top-link svg {
  fill: #000;
  width: 24px;
  height: 12px;
}.top-link:hover {
  background-color: rgb(192, 192, 192);
}



/* About -------------------------------------------------- */
#about {
  height: 100vh;
  padding-top: 150px;
  color: white;
}

.about-divider {
  position: absolute;
  border-radius: 10px;
  width: 4px;
  height: 40%;
  background-color: #96FFFF;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.split {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 3%;
  height: 100%;
  width: calc(50% - 40px - 2px);
  position: absolute;
  z-index: 1;
  top: 0;
}.about-left {
  left: 40px;
}.about-right {
  right: 40px;
}

.self-info-box {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}.self-info-box h2 {
  margin: 20px auto 0;
  font-size: 2.2rem;
  transition: .3s;
}.self-info-box p {
  display: inline-block;
  margin-top: 10px;
  font-size: 1.2rem;
  margin-bottom: 0
}.self-info-box code {
  font-size: 1.2rem;
  color: #96FFFF;
}

.self-image {
  border-radius: 1px;
  border: solid white 1px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width:100%;
  max-height:100%;
}

/* about me links [ Github, Resume ]*/
.info-link-box {
  padding-top: 40px;
}.info-link {
  display: inline-block;
  padding: 20px 22px;
  margin: 0 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  transform: translateY(-25%);
  background-color: #1005268e;
  transition: .5s;
}.info-link:hover {
  background-color: #100526c4;
  border-color: slategrey;
}.info-link img {
  width: 64px;
}



/* Projects ----------------------------------------------- */
#projects {
  width: 100%;
  padding: 60px 0 8% 0;
  /* credit for photo goes to it's creator */
  background-image: url('./img/project-page-background.jpg');
}

.projects-container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 80%;
}
.project {
  position: relative;
  background-size: cover;
  width: 46%;
  margin: 2%;
  height: 600px;
  border-radius: 1px;
  border: solid white 1px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  display: inline-block;
  color: white;
  overflow: hidden; 
}@media screen and (max-width: 900px) {
  /* one project per row if the screen is too small */
  .project {
    width: 100%;
  }
}
/* background blur when hover */
.blur {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  padding-top: 50px;
  transition: .6s;
}.blur:hover {
  backdrop-filter: blur(7px);
}
/* Project title properties */
.blur h1 {
  padding-top: 35px;
}
/* icons for programming languages used */
.project-icon{
  height: 128px;
}
.project-desc {
  margin: auto;
  width: 60%;
  font-size: 1.4rem;
}

/* github link formatting */
.github-link-box {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  bottom: 50px;
}

/* same formatting found from navbar.css */
.github-link {
  display: inline-block;
  padding: 10px 12px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: rgba(16, 5, 38, 0.557);
  transition: .5s;
}.github-link:hover {
  background-color: rgba(15, 5, 36, 0.769);
  border-color: slategrey;
}.github-link img {
  width: 64px;
}



/* Contact ------------------------------------------------ */
#contact {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/*-------- [ Form ]*/
.contact-form {
  max-width: 960px;
  background: #fff;
  border-radius: 5px;
  padding: 66px 115px 59px 115px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*------ [ Form Title ]*/
.contact-form-title {
  display: block;
  width: 100%;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  padding-bottom: 32px;
  overflow: hidden;
}
.title-container {
  font-size: 2rem;
  position: relative;
  padding-bottom: 10px;
}


/* formatting for unsent message */
.title-unsent {
  position: absolute;
}.title-exit-right {
  animation: slide-out-right .5s ease forwards
}@keyframes slide-out-right{
  0%    { left: 0;  }
  100%  { left: 100%; }
}
/* formatting for sent message */
.title-sent {
  position: absolute;
  left: -100%;
}.title-exit-left {
  animation: slide-in-right .5s ease forwards
}@keyframes slide-in-right{
  0%    { left: -100%;  }
  100%  { left: 0;  }
}

/*------- [ Input Boxes ]*/

.wrap-input {
  width: 100%;
  position: relative;
  background-color: transparent;
  margin-bottom: 35px;
}

.row1-wrap-input {
  width: calc((100% - 30px) / 2);
}

.form-input {
  display: block;
  width: 100%;
  background: #f2f2f2;
  border-radius: 20px;
  border: none;
  resize: none;

  font-size: 20px;
  line-height: 1.2;
  padding: 0 28px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  margin-top: 10px;
}.form-input:hover {
  background: #e0e0e0;
}.form-input:focus {
  background: #d0d0d0;
}

input.form-input {
  height: 62px;
  outline: none;
}textarea.form-input {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
  outline: none;
}


/*------- [ Form Button ]*/
.container-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5px;
}

.wrap-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
}

.form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  box-shadow: 0 5px #888;
  
  border: none;
  outline: none;

  font-size: 16px;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform .1s, box-shadow .1s, background-color .4s;
}.form-btn:hover {
  background-color: #616161;
  color: white;
}.form-btn:active {
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}
.btn-icon {
  fill: black;
  height: 20%;
  padding-right: 10px;
}


/* loading animation */
.line-load {
  height: 5px;
  width: 100%;
  overflow: hidden;
}
.line-load .bar {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: dodgerblue;
  animation-name: bouncing-load;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}@keyframes bouncing-load {
  0%  { left:-100%  }
  49% { left: 100%  }
  50% { left: 100%  }
  100%{ left:-100%  }
}
