  @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');

  @media print {
    body {
      background-image: none !important;
    }

    @page {
      size: letter;
    }
  }

  body {
    background-image: linear-gradient(rgb(169, 177, 255), rgb(80, 138, 255));
    margin: 0;
  }

  #resume {
    /* dimensions of letter paper */
    width: 8.5in;
    height: 11in;
    /* remove top/bottom margins and center */
    margin: 0 auto;
    /* organize other components in a grid */
    display: grid;
    grid-auto-columns: 18rem auto;
    grid-auto-rows: min-content 1fr;
    grid-template-areas:
      "header main"
      "side main";

    font-family: 'PT Sans Caption', sans-serif;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }

  a {
    color: inherit;
  }

  p {
    font-size: 0.9rem;
    margin: 0.2rem 0;
    align-items: center;
  }

  img {
    vertical-align: bottom;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0;
  }

  ul {
    margin-top: 0.5rem;
    padding-left: 1.3rem;
  }

  #header {
    grid-area: header;
    background-color: rgb(57, 57, 57);
    color: whitesmoke;
    padding: 1.5rem;
  }

  #side {
    grid-area: side;
    background-color: rgb(250, 250, 250);
    padding: 1.5rem;
  }

  #main {
    grid-area: main;
    background-color: white;
    padding: 1.5rem;
  }

  .section-title {
    text-transform: uppercase;
  }