@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");

@media print {
  body {
    background-image: none !important;
  }

  @page {
    size: letter;
  }
}

body {
  background-image: linear-gradient(rgb(169, 177, 255), rgb(80, 138, 255));
  font-family: "PT Sans Caption", sans-serif;
  margin: 0;
}

a {
  color: inherit;
}
