/* Global Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --small-text: 0.8rem;
}

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*
  Default Text Color follows Theme
*/
.themed {
  color: var(--text-color);
}

/*
  Buttons that have background color and contrast with the main background
*/
.button.themed {
  transition: all 300ms;
  color: var(--button-text-color);
  border-width: 2px;
  border-color: var(--button-bg-color);
}

.button.themed:hover {
  translate: 0 -2px;
  background-color: var(--button-bg-color-hover);
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border: 4px solid var(--bg-color);
  border-radius: 10px;
}