/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  /* background-color: var(--bg-color); */
  background-image: linear-gradient(-15deg, var(--bg-gradient2), var(--bg-gradient1));
  text-align: center;
}

@font-face {
  font-family: "Dosis";
  src: local("Dosis"), url("./assets/fonts/Dosis-Regular.ttf") format("truetype");
}

a {
  text-decoration: none;
}

* {
  font-family: "Dosis";
  box-sizing: border-box;
}

/*
  Default Text Color follows Theme
*/
.themed {
  color: var(--text-color);
}

/*
  Buttons that just have a different hover color
*/
button.themed:hover {
  color: var(--text-color-hover);
  transition: color 300ms;
}

/*
  Buttons that have background color and contrast with the main background
*/
button.button.themed {
  transition: background-color 300ms, box-shadow 300ms, transform 300ms;
  color: var(--button-text-color);
  background-color: var(--button-bg-color);
}
button.button.themed:hover {
  transform: translateY(-5px);
  background-color: var(--button-bg-color-hover);
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: var(--bg-color);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border: 4px solid var(--bg-color);
  border-radius: 10px;
}
