@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap");

@media print {
  body {
    background-image: none !important;
  }

  @page {
    size: letter;
  }
}

body {
  background-image: linear-gradient(rgb(212, 101, 93), rgb(2, 27, 83) 85%);
  font-family: "PT Sans Caption", sans-serif;
  margin: 0;
}

a {
  color: inherit;
}