@font-face {
  font-family: "Dosis";
  src: local("Dosis"), url("./fonts/Dosis-Medium.ttf") format("truetype");
}

body {
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

* {
  font-family: 'Dosis';
  box-sizing: border-box;
}


.App {
  min-height: 100vh;
  background-image: linear-gradient(#282f40, #3a455e);
  text-align: center;
}

.section-header {
  font-size: 6rem;
  color: #fff;
}.separator-bar {
  margin: 20px auto 50px;
  width: 200px;
  height: 5px;
  border-radius: 2px;
  background-color: #96FFFF;
}

.page-loader {
  z-index: 999;
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  animation: load-in .5s ease .5s forwards; 
}@keyframes load-in {
  0% { height: 100%; }
  100% { height: 0%; }
}
